<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab-Flask</title>
</head>
<body>
    <h1>Lab 8 - Flask </h1>
    <form action="/sumbit" method="post">
        <label for="prenom">Entrez votre prénom :</label>
        <br>
        <input type="text" name="prenom" id="prenom">
        <br>

        <br>
        <label>Entrez votre genre :</label>
        <br>
        <label for="masculin"> Masculin</label>
        <input type="radio" name="genre" id="genre" value="Masculin" checked="checked">
        <br>
        <label for="feminin"> Féminin</label>
        <input type="radio" name="genre" id="genre" value="Feminin">
        <br>
        <label for="autre"> Autre</label>
        <input type="radio" name="genre" id="genre" value="Autre">
        <br>

        <br>
        <br>

        <label for="pays">Entrez votre continent :</label>
        <br>
        <select name="pays">
            <option value="North-America">North-America</option>
            <option value="South-America">South-America</option>
            <option value="Africq">Africa</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="Oceania">Oceania</option>
        </select>

        <br>
        <br>

        <button type="submit">Soumettre</button>
    </form>
    
</body>
</html>